*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px; /* Reduced max-width */
    width: 100%;
    margin-top: 0;
}

h1 {
    margin-bottom: 15px; /* Reduced margin */
    font-size: 20px; /* Reduced font size */
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced gap */
}

.register-form label {
    font-size: 14px; /* Reduced font size */
    color: #333;
    text-align: left;
    display: block;
}

.register-form input,
.register-form select,
.register-form button {
    padding: 8px; /* Reduced padding */
    font-size: 12px; /* Reduced font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.register-form button {
    font-size: 14px; /* Reduced font size */
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: rgb(34, 216, 216);
}

.login-link {
    margin-top: 10px;
    font-size: 12px; /* Reduced font size */
}

.login-link a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}